.price-filter-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .lowest-price, .highest-price {
    font-weight: bold;
  }
  
  .range-value-display {
    margin-left: 15px;
    font-size: 20px;
  }
