.image-container {
    width: 130px;
    height: 130px;
    border: 3px solid #4b4b4b;
    border-radius: 25px;
  }
  
  .products-page-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px;
    justify-content: center;
    padding: 25px;
  }
  
  .product-card {
    text-align: center;
    border: 2px solid #ccc;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .product-card h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
    width: 100%;
    line-height: 1.6;
    height: 4.8em;    
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  
  .filter-container {
    margin-bottom: 25px;
  }
  